//main
$primary-color: rgb(195, 190, 255);
$secondary-color: rgba(#ffffff, 0.9);

//sidebar menue
$primary-sidebar-color: rgb(195, 190, 255);
$secondary-sidebar-color: rgba(#ffffff, 0.9);

// buttons
$button-color-primary: #ee0000;
$button-color-secondary: #00ee00;
