//main
$primary-color: rgb(195, 190, 255);
$secondary-color: #ffffff;
$border-color:#cdcdcd;
$hover-color: rgba(201, 201, 201, 0.23);

//Header menue
$primary-sidebar-color: #fff;
$dropdown-color: rgba(245, 245, 245, 1);
$header-color: #fff;

//Footer
$primary-footer-color: #fff;

// buttons
$button-color-primary: #ee0000;
$button-color-secondary: #00ee00;
