/* roboto-regular - latin */
@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("roboto-v18-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"),
       url("roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("roboto-v18-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("roboto-v18-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("roboto-v18-latin-regular.ttf") format("truetype"); /* Safari, Android, iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("roboto-v18-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("roboto-v18-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("roboto-v18-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("roboto-v18-latin-700.woff") format("woff"), /* Modern Browsers */
       url("roboto-v18-latin-700.ttf") format("truetype"); /* Safari, Android, iOS */
}



$font-regular: "Roboto-Regular", sans-serif;
$font-bold: "Roboto-Bold", sans-serif;
