@import "fonts.scss";
@import "colors.scss";

body, html {
	margin: 0;
	width: 100%;
	min-height: 100%;
}

#content{
	transition: opacity 0.4s;
	position: relative;
	display: inline-block;
	width: 100%;
	min-height: 800px;
}

p {
	font-family: $font-regular;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-bold;
}


#app{

	min-height: 100%;
	position: relative;
}
